/**
* Hero 
*/

.hero {
    position: relative;
    padding: 0 0 40px;
    .hero-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-gap: 80px;
        z-index: 1;
        position: relative;
        margin: 40px auto 80px;
        .title {
            h1 {
                @include headerPoppins;
                color: $ink;
            }
        }
        .motifs {
            display: flex;
            width: 60%;
            max-width: 850px;
            height: 100%;
            justify-content: space-around;
            position: absolute;
            z-index: -1;

            .motif-left {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                position: relative;
                margin-bottom: -33px;

                .bubble-small {
                    border-radius: 100%;
                    background-color: $pinkTrans;
                    width: 57px;
                    height: 57px;
                    display: block;
                    margin-bottom: -23px;  
                    z-index: 1;              
                }

                .bubble-large {
                    border-radius: 100%;
                    display: block;
                    background-color: $aqua;
                    width: 195px;
                    height: 195px;
                }
            }
            .motif-right {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .bubble-photo {
                    border-radius: 100%;
                    display: block;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 242px;
                    height: 242px;
                }
            }
        }

        .text {
            z-index: 1;
            background-color: $mist;
            padding: 0 28px;
            min-width: 30%;
            text-align: center;
            .text-inner {
                h2 {
                    @include headerRoboto;
                    color: black;
                }
            }
        }
    }
    .arrow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .bounce {
            animation-name: bounce;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }
}