/**
* Post Display
*/

.post-display {
    .section-heading {
        h2 {
            &.regular {
                @include sectHeadRoboto;
                text-align: left;
                color: $ink;
                &:nth-of-type(even) {
                    text-align: right;
                }
                span {
                    @include spanPoppins;
                    &.pink {
                        color: $pink;
                    }
                }
            }

            &.bolder {

            }
        }
    }

    .slider {
        padding: 64px 0 0x;
        margin: 0 auto;
        width: 80%;
        max-width: 1100px;
        .slider-inner {
            .slider-contents {
                .slide {
                    padding: 0 95px 95px;
                    .slide-inner {
                        min-height: 500px;
                        display: block;
                        width: 100%;
                        position: relative;
                        .link-outer {
                            padding: 60px 60px 24px;
                            background-image: $postDisplayPink;
                            a {
                                display: block;
                                transition: ease;
                                .image {
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                    background-size: cover;
                                    background-position: top;
                                    background-repeat: no-repeat;
                                    transition: $ease;
                                    min-height: 440px;
                                    box-shadow: $shadow;
                                    &:before {
                                        opacity: 0;
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                        position: absolute;
                                        content: "";
                                        background-color: $glass;
                                        transition: $ease;
                                    }
                                }
    
                                &:hover {
                                    .image {
                                        transform: scale(1.025);
                                        &:before {
                                            opacity: 1;
                                    
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .note {
                        position: absolute;
                        right: 75px;
                        transform: rotate(-12deg);
                        transform-origin: top left;
                        bottom: -25px;
                        width: 120px;
                        height: 170px;

                        .note-inner {
                            position: fixed;
                            width: 120px;
                            height: 170px;
                            .arrow {
                                max-height: 80px;
                                img {
                                    max-height: 80px;
                                }
                            }
                            .note-text {
                                text-align: center;
                                span {
                                    @include caption;
                                    color: $ink;
                                    text-align: center;
                                }
                            
                            }
                        }

                        
                    }
                }

                .slick-arrow {
                    width: 54px;
                    height: 54px;
                    background-color: $periwinkle;
                    border-radius: 100%;
                    position: absolute;
                    top: 45%;
                    box-shadow: $smallShadow;
                    transition: $ease;
                    padding: 0;
                    cursor: pointer;
                    z-index: 2;

                    &:hover {
                        background-color: $paleAqua;
                    }

                    &::before {
                        opacity: 1;
                        content: ' ';
                        display: block;
                        width: 40px;
                        height: 40px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        margin: auto;
                    }

                    &.slick-next {
                        right: 70px;
                        &::before {
                            background-image: url('/wp-content/themes/jessicastheme/img/svg/carbon_chevron-right.svg');
                        }
                    }

                    &.slick-prev {
                        left: 70px;
                        &::before {
                            background-image: url('/wp-content/themes/jessicastheme/img/svg/carbon_chevron-left.svg');
                        }
                    }
                }
            }
        }
    }

    .row {

    }
}